#contentcontainer{
    max-width: 1024px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    /* justify-content: center;
    align-content: center;
    align-items: center; */
}

#splash{
    min-height: 70vh; 
    /* calc(50vh); */
}

text {
    fill: url(#pattern);
    }

#splash h1,h2,h3,h4,h5,h6,div,img{
    margin-left: auto;
    margin-right: auto;
}

#splash h4, #splash h3,#splash h2{
    margin-top: 1em;
    /* margin-bottom: 1em; */
}

.splashmenu{
    display: flex;
    flex-direction: none;
    padding: 0;
}

.splashmenu li{
      height: 2.5em;
      display: flex;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: center;
      margin: 0.5em;
      animation: ease-in fadeIn 0.5s;
      user-select: none;
      font-weight: 400;
      font-size: 18px;
  }

#splashlogo{
    /* width: 70%; */
    max-height: 20vh;
}

#about{

}

#projects{

}

#contact{

}


#splash, #about, #projects, #contact{
    max-width: 100%;
    margin-left: 2vh;
    margin-right: 2vh;
        
}

#projects img{
    width: 100%;
    
}

.graphic{
    opacity: 0.3;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
    shape-outside: polygon(0% 100%, 0% 100%, 0% 100%);
}

.cards{

}

.card{
    background-color: rgba(255, 255, 255, 0.07);
    height: auto;
    padding: 1em 1em 1em 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    color: var(--white);
    -webkit-text-fill-color: var(--white);
}

@media screen and (min-width: 40em) {
    .card {
        flex: 0 1 calc(50% - 2.5em);
        
    }
    .cards{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: stretch;
    }
    
}
@media screen and (min-width: 60em) {

    .card {
        flex: 0 1 calc(25% - 2.5em);
    }
}

.tag{
    margin: 2px 4px 2px 0px;
    padding: 3px 3px 4px 4px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--grey);
    -webkit-text-fill-color: var(--grey);
    font-weight: 400;
}
 

/* @media screen and (min-width: 52em) {
    .centered {
        
    }
} */