:root {
  --white: #E8E8E8;
  --grey: #8A8E8E;
  --purple: #453F52;
  --orange: #CA8957;
  --red: #B84B46;
}

.navBar{
    display: flex;
    float: top;
    transition: opacity 0.1s;
    background: linear-gradient(90deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.15) 100%);
    height: 5em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    animation: ease-in fadeIn 0.3s;
}

.navBar.mobile{
  height: 20em;
  animation: ease-in slideIn 0.1s;
  align-content: flex-start;
  align-items: flex-start;
}
.navBar.mobile .flexChild{
  /* margin-top: auto; */
}

li{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin: 0.5em;
    animation: ease-in fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes fadeOut {
  100% {opacity:1;}
  0% {opacity:0;}
}
@keyframes slideIn {
  from {
  height: 5em;
  }
  to {
  height: 20em;
  }
}
@keyframes slideOut {
  from {
  height: 20em;
  }
  to {
  height: 5em;
  }
}


.navBar img{
    max-height: 4em;
}

/* 48em = 768px */
/* mobile first */
@media screen and (min-width: 48em) {
  .menu{
    display: visible;
  }
  .menu-btn {
    display: none;
  }
  .menu-btn__burger {
    display: none;
  }
}

@media screen and (max-width: 48em) {
  .menu{
    display: none;
  }
  /* .flexRow .flexCenter{
    display: none;
  } */
}


/* menu button */

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  /* margin: 1em; */
  cursor: pointer;
  transition: all .3s ease-in-out;
  animation: ease-in fadeIn 0.3s;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 3em;
  height: 2px;
  background: var(--white);
  border-radius: 1px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all 0.2s ease-in-out;
  animation: ease-in fadeIn 0.3s;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 3em;
  height: 2px;
  background: var(--white);
  border-radius: 1px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all 0.2s ease-in-out;
  animation: ease-in fadeIn 0.3s;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.menu-btn.open li::before{
  /* animate menu */
  }
.menu-btn.open li::after{
/* animate menu */
}
