::-webkit-scrollbar{
    /* display: none; */
    width: 14px;
    background:rgb(47, 94, 102);
}
@media screen and (max-width: 48em) {
    ::-webkit-scrollbar{
        /* display: none; */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;
    }
    
}

::-webkit-scrollbar-button{
    background: rgba(50, 63, 65, 0.1);
}

::-webkit-scrollbar-track {
  background: rgba(50, 63, 65, 0.1);
    border-radius: 0px;
}
::-webkit-scrollbar-track-piece{

}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: rgba(50, 63, 65, 0);
    height: 15px;
    /* background: rgba(0, 0, 255, 0); */
}
::-webkit-scrollbar-corner{
    background: rgba(50, 63, 65, 0.1);
}

::-webkit-resizer{
    background: rgba(50, 63, 65, 0.1);
}
/* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,55,60,1) 100%);  */
/*     background: rgba(0, 0, 255, 1); */